.terminal {
  border: solid #2F2E33 50px;
  border-radius: 24px;
  background-color: #2F2E33;

  .screen {
    font-size: 30px;
    height: 300px;
    width: 520px;
    color: #fff;
    background-color: #4D79B4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #212125 4px;
    border-radius: 5px;
  }

  .buttons {
    height: 32px;

    div {
      color: #fff;
      cursor: pointer;
      position: relative;
      width: fit-content;

      i {
        position: absolute;
        top: -6px;
        width: 25px;
        height: 25px;
        background-color: #fff;
        border: solid #000 3px;
      }
    }

    div:first-child {
      text-align: end;
      top: -50px;
      right: 15px;
      margin-left: auto;

      i {
        border-width: 0 0 3px 3px;
        left: calc(100% + 23px);
      }

      &:hover {
        i {
          border-width: 0 0 2px 2px;
        }
      }
    }

    div:nth-child(2) {
      text-align: start;
      top: -65px;
      left: 15px;
      margin-right: auto;

      i {
        border-width: 0 3px 3px 0 ;
        right: calc(100% + 23px);
      }

      &:hover {
        i {
          border-width: 0 2px 2px 0;
        }
      }
    }
  }
}

